body { margin:0; padding:0; }
body, table, tr, td, th, div, h1, h2, input { font-family: "Calibri", "Trebuchet MS", "Ubuntu", Serif; font-size: 11pt; }
#map { position:absolute; top:0; bottom:0; width:100%; } /* full size */
.ctl {
    padding: 2px 10px 2px 10px;
    background: white;
    background: rgba(255,255,255,0.9);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    text-align: right;
}
.title {
    font-size: 18pt;
    font-weight: bold;
}
.src {
    font-size: 10pt;
}


.location img {
    width: 45px;
	height: 30px;
}

#getposition {
    width: 10px;
	height: 10px;
    opacity: 0.01;
}

#legend b {
    margin-left: 10px;
}

#legend img{
    width: 20px;
	height: 20px;
    margin-left: 10px;
    margin-right: 40px;
    margin-bottom: 1px;
    margin-top: 1px;
    vertical-align: middle;
    
}

#legend .clicked {
    filter: grayscale(100%);
}
#legend p{
    vertical-align: middle;
    margin-bottom: 1px;
    margin-top: 1px;
    margin-right: 10px;
}
/*.legend {
	line-height: 18px;
	color: #333333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	padding: 6px 8px;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}

.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

.legend img {
	width: 60px;
	height: 40px;
	float: left;
}

.clicked img {
    opacity: 0.2;
}
.legend p {
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}*/