.legend-container #legend {
  background-color: rgba(255, 255, 255, 1.0);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.legend-container .legend-toggle {
        text-align: center;
    vertical-align: middle;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  width: 36px;
  height: 36px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #0ff;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 1.0);
  background-repeat: no-repeat;
}
.legend-container .legend-toggle-icon {
  /*optionally use an icon image for the toggle button*/
}
.legend-collapsed #legend {
  display: none;
}
.legend-collapsed .legend-toggle {
  display: block;
}

